<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: #E7E9EB;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Currency Exchange</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Authors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Stanislaw Glegoła</a>
                        <a class="dropdown-item" href="#">Cyprian Kamiński</a>
                        <a class="dropdown-item" href="#">Miłosz Różański</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Left side -->
<div class="container" style="width: 400px; position: absolute; left: 0px;">
    <table class="table table-light">
        <form class="form-container">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th>
                    <button type="submit" class="btn btn-secondary">Update trades</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singleRate: ${ratesList}">
                <th th:text="${singleRate.currency}"/>
                </th>
                <th th:text="${singleRate.code}"/>
                </th>
                <th th:text="${singleRate.mid}"/>
                <th><input href="/repo/update" type="number" th:value="${singleRate.mid}" min="0"
                           th:step="${singleRate.mid}"/></th>
            </tr>
            </tbody>
        </form>
    </table>
</div>

<!-- Right side -->
<div class="container" style="width: 400px; position: absolute; right: 0px;">
    <table class="table table-light">
        <thead>
        <tr>
            <th>
                <div class="btn-group dropleft">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Select code
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <div th:each="c:${ratesList}">
                            <a class="dropdown-item" th:value="${c.code}" th:text="${c.code}"
                               th:href="@{'/repo/' + ${c.code}}"></a>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col"><a th:text="${currencyName}"></a></th>
        </tr>
        <tr>

        </tr>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Mid</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="single: ${codesList}">
            <th th:text="${single.effectiveDate}"/>
            </th>
            <th th:text="${single.mid}"/>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>